# Dependências
node_modules/

# Build
dist/
dist-ssr/

# Vite
*.local
.vite/

# Variáveis de ambiente
.env
.env.local
.env.*.local

# TypeScript
*.tsbuildinfo

# Arquivos de sistema
.DS_Store
Thumbs.db

# IDEs e editores
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Arquivos de trabalho interno
texto.txt